.packagebg{
  width: 100%;
  background-image: url('../../assets/bkimg1.jpeg');
}

/* MapContainer.css */
.container {
  display: flex;
  height: 100vh; /* Use 100% of the viewport height */
}

.sidebar {
  width: 30%;
  height: 70%;
  margin-top: 20%;
  background-color: #f0f0f0;
  padding: 20px;
}

.map-content {
  flex-grow: 1; /* Grow to fill the remaining space */
  position: relative; /* Ensure map container takes full height */
}

.map-container {
  width: 100%;
  height: 100%;
}

.content-main{
  padding: 20px;
  border-radius: 40px; /* Set border radius to 5% */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2%;
  margin-left: 45px !important;
  /* margin-right: 10px !important; */
  margin-bottom: 10px;
  height: 60vh;
  width: 95%;
  background-color: #010a14 !important;
}

.set-width-map{
  margin-top: 40px;
  margin-left: 70px !important;
  width: 45% !important;
  height: 50% !important;
  position: absolute !important;
}

.form-horizontal {
  max-width: 600px;
  margin: 0 auto;
}

/* Style for the legend */
.legend {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for form inputs */
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style for form buttons */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Optional: Style for form group columns */
.col-md-10 {
  width: 83.333333%;
  float: left;
}

.col-md-offset-1 {
  margin-left: 8.333333%;
}

.daytourheader{
  text-align: center;
  font-size: 90px; 
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold; 
  color: rgb(1, 4, 17); 
}

.search-box{
  margin-top: 100px;
}

#pickuplocation{
  margin-bottom: 40px;
  border-radius: 30px;
  color: #114a88;
  font-size: larger;
  font-weight: bold;
}

.sorted-distances-container {
text-align: center;
margin-top: 20px;
}

.sorted-distances-title {
font-size: 50px;
font-weight: bold;
margin-bottom: 30px !important;
color: white; 
}

.sorted-distances-list {
list-style-type: none;
font-size: 30px;
line-height: 100px;
padding: 0;
color: white; 
}

.location-label {
font-weight: bold;
color: #099e4c;
}

.packagemain {
  background-image: url('../../assets/back_ground.jpg');
}

.packagecontainer {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 8%;
  margin-bottom: 8%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #d4ecec;
  height: 60vh;
}

.selectpackageform {
  margin-bottom: 20px;
}

.selectpackageform h2 {
  margin-left:30%;
}

.selectpackageform p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.form-group-members,
.form-group-accomodation,
.form-group-meal,
.form-group-transport {
  margin-bottom: 15px;
}

.form-group-members h5,
.form-group-accomodation h5,
.form-group-meal h5,
.form-group-transport h5 {
  margin-bottom: 5px;
  font-size: 16px;
  color: #555;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.selectAcco {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.checkbox-label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #218838;
}

.error-label {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
