@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.paymentupdate{
    display: flex;
}
.paymentupdatebg{
    background-image: url('../../assets/bkImg.jpg');
    height: 100vh;
    flex: 1;
}

.addpaymentupdateheader{

    
    color:white;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
}

.addpaymentupdateheader h1{

    font-weight:400;
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    text-align: center;
    

}


.addpaymentupdateheader h3{

    text-align: center;
}

.paymentupdatecontainer form{

    margin-left: 250px;
    
}

.selectpaymentupdateform{

    margin-left:70px;
    margin-top: 60px;
}

.selectpaymentupdateform label{

    font-size: 20px;
    color:white;
}

.selectpaymentupdateform input{

    width:600px;
    height: 42px;
    border-radius: 10px;
}

.addpaymentupdatebutton button{

    margin-left: 200px;
    margin-top:30px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(180, 146, 95);;
    color: black;
    border: none;
    width: 120px;

}

.addpaymentupdatebutton button:hover{

    background-color:#daa520;
}
