.navbar_con{
    position: fixed;
    top: 0;
    padding: 40px;
    left: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #0d058078;
    background-image: url('../../assets/bkImg.jpg') !important;

    background-attachment: fixed;
    background-blend-mode: color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    z-index: 999;
    transition: 0.6s;
}

.logoImage{
    margin-left: -10px;
    height: 95px;
    padding: -10px;
}

.navPages{
    display: flex;
    margin-right: 200px;
    align-items: center;
}

.navPages li{
    list-style-type: none;
    margin: 0 30px;
}

.navPages li:hover a{
    color: rgb(255, 255, 255);
}

.navPages li a{
    text-decoration: rgb(248, 248, 248);
    color: white;
    transition: 300ms;
    font-size: 20px;
    font-style: wide;
    letter-spacing: 3px;
    font-weight: 600;
}

.navPages .navPage.active a{
    color: rgb(255, 255, 255);
    font-weight: 500;
}

@media (max-width: 880px) {
    .navbar_con{
        display: none;
    }
  }
  